name: powerpc/sparse

# Controls when the action will run.
on:
  # This allows the build to be triggered manually via the github UI.
  workflow_dispatch:

  push:
    # This triggers the build on a push to any branch named ci/powerpc/<something>
    branches:
    - '**'
    # As long as one of these paths matches
    paths:
      - '!tools/**'		   	# ignore tools
      - '!samples/**'		   	# ignore samples
      - '!Documentation/**'		# ignore Documentation
      - '!arch/**'			# ignore arch changes
      - 'arch/powerpc/**'		# but not arch/powerpc
      - 'arch/Kconfig'			# or common bits in arch
      - '**'				# anything else triggers a build

jobs:
  sparse:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        defconfig: [ppc64, pmac32, mpc885_ads_defconfig]
        image: [ubuntu-21.04]
        subarch: [ppc64]
        include:
          - subarch: ppc64le
            defconfig: ppc64le
            image: ubuntu-21.04

    env:
      ARCH: powerpc
      TARGET: kernel
      SPARSE: 1
      SUBARCH: ${{ matrix.subarch }}
      IMAGE: ${{ matrix.image }}
      DEFCONFIG: ${{ matrix.defconfig }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Load ccache
      uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ${{ matrix.image }}-${{ matrix.subarch }}-${{ matrix.defconfig }}

    - name: Build
      run: |
        mkdir -p ~/.ccache
        ls -l ~/.ccache
        CCACHE=1 ./arch/powerpc/tools/ci-build.sh

    - name: Get sparse results from base tree
      uses: dawidd6/action-download-artifact@v2
      with:
        workflow: powerpc-sparse.yml
        workflow_conclusion: success
        branch: merge # this is race condition-y.  start simple for now but needs fix
        name: sparse-${{ matrix.defconfig }}-${{ matrix.image }}.log
        path: base_logs

    - name: Register sparse problem matcher
      run: echo "::add-matcher::.github/problem-matchers/sparse.json"

    - name: Compare sparse results with base
      run: |
        wget https://github.com/daxtens/smart-sparse-diff/raw/master/smart-sparse-diff.py
        python3 smart-sparse-diff.py base_logs/sparse.log ~/output/sparse.log | tee -a ~/output/sparse-diff.log

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: sparse-${{ matrix.defconfig }}-${{ matrix.image }}.log
        path: |
          ~/output/sparse.log
          ~/output/sparse-diff.log
